.bestsellers-mobile-swiper {
  margin: 18px auto 0 auto;
  width: 100%;
  max-width: 420px;
  overflow: hidden;
}

.bestsellers-mobile-swiper .swiper {
  width: 100%;
  padding-bottom: 32px;
  margin-left: 0;
  margin-right: 0;
}

.bestsellers-mobile-swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.product-card {
  width: 92vw;
  max-width: 320px;
  margin: 0 auto;
}

.productcard__item {
  width: 92%;
  max-width: 320px;
  margin: 0;
}

@media (min-width: 600px) {
  .product-card {
    width: 270px;
  }
}