  .newin__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 32px 0 12px 0;
    text-align: center;
  }

  .newin-mobile-swiper {
    margin-bottom: 24px;
  }

  .bestsellers-mobile-swiper {
    margin: 18px 0 0 0;
    width: 100%;
    padding: 0;
  }

  .bestsellers-mobile-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    width: 100%;
  }

  .bestsellers-mobile-track {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 8px 16px 16px 16px;
  }

  .bestsellers-mobile-slide {
    flex: 0 0 auto;
    width: 180px;
    max-width: 240px;
    min-width: 180px;
    box-sizing: border-box;
    padding: 0;
  }


  .bestsellers-mobile-swiper .slick-slider {
    width: 100%;
  }

  .bestsellers-mobile-swiper .slick-list {
    padding: 0 0px;
    margin: 0 auto;
    overflow: visible;
    box-sizing: border-box;
  }

  .bestsellers-mobile-swiper .slick-slide>div {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
  }

  .bestsellers-mobile-swiper .slick-dots {
    bottom: -18px;
  }


  .product-card {
    width: 100%;
    max-width: none;
    min-width: 0;
    margin: 0 auto;
    box-sizing: border-box;
  }


  .productcard__item {
    width: 100%;
    max-width: none;
    min-width: 0;
    margin: 0 auto;
    min-height: 520px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }


  .productcard__top {
    flex-grow: 1;
  }


  @media (min-width: 600px) {
    .product-card {
      width: 270px;
    }
  }